<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/ui/images/lottery/lottery_bg_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{98,452}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,452}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_btn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1},{100,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,62}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1},{100,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,62}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_effect_light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,65},{76,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,58}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_bar_blood.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,970},{424,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{424,38}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_bg_bulb.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,936},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_bg_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,817},{362,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,56}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_ckjjy.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1},{176,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,44}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_djcj_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1},{167,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,48}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_kscj.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,65},{135,40}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,40}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_title_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,455},{436,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{436,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_title_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,652},{237,93}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,94}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_words_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,87},{101,38}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_words_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1},{101,39}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_words_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,46},{99,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_words_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,46},{100,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_words_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,103},{99,38}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_pic_words_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,42},{101,39}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_shell_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,455},{180,195}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,196}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_shell_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,652},{163,125}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,132}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_title_cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,874},{195,60}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,60}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_title_gx.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,936},{195,58}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,60}</string>
			</dict>
			<key>games/fish/assets/ui/images/lottery/lottery_title_mfdcj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,893},{371,75}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lottery.png</string>
			<key>realTextureFileName</key>
			<string>lottery.png</string>
			<key>size</key>
			<string>{762,1008}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>762</integer>
			<key>height</key>
			<integer>1008</integer>
		</dict>
	</dict>
</plist>