<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect_bullet_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,99},{39,101}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,102}</string>
			</dict>
			<key>effect_bullet_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1},{28,91}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,102}</string>
			</dict>
			<key>effect_bullet_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1},{33,71}}</string>
				<key>offset</key>
				<string>{3,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,102}</string>
			</dict>
			<key>effect_bullet_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,1},{24,94}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,102}</string>
			</dict>
			<key>effect_bullet_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,99},{38,95}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,102}</string>
			</dict>
			<key>effect_bullet_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,1},{42,96}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,102}</string>
			</dict>
			<key>effect_bullet_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,105},{42,101}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,102}</string>
			</dict>
			<key>effect_bullet_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,108},{42,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,102}</string>
			</dict>
			<key>effect_bullet_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1},{27,95}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,102}</string>
			</dict>
			<key>effect_bullet_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,94},{34,97}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,102}</string>
			</dict>
			<key>effect_bullet_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,1},{42,102}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,102}</string>
			</dict>
			<key>effect_bullet_superpos_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{41,105}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,130}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bullet.png</string>
			<key>realTextureFileName</key>
			<string>bullet.png</string>
			<key>size</key>
			<string>{251,211}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>251</integer>
			<key>height</key>
			<integer>211</integer>
		</dict>
	</dict>
</plist>