<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_coin2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{333,1},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_coin2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{18,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{413,1},{18,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_coin2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{237,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_coin2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_coin2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{121,1},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_coin2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{373,1},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_coin2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{18,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{433,1},{18,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_coin2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{285,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_coin2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{61,1},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_coin2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{179,1},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friend_coin2.pvr.ccz</string>
            <key>size</key>
            <string>{452,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6df328dd2816e4053002505e388bc5ef:81a8912b9bb17e1912741a43ecb8fe07:d6202825f2c015e303d33051e901e90c$</string>
            <key>textureFileName</key>
            <string>friend_coin2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
