<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_coin2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{337,1},{38,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_coin2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{18,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{337,41},{18,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_coin2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{241,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_coin2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_coin2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{61,1},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_coin2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{401,1},{38,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_coin2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{18,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{401,41},{18,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_coin2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{289,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_coin2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{121,1},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_coin2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{181,1},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_coin2.pvr.ccz</string>
            <key>size</key>
            <string>{464,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6495053dbe876b273128be5daca778b2:bb3b21096a9b532d32d07c8f5d83fd47:5672036f974b94057995e284564921eb$</string>
            <key>textureFileName</key>
            <string>game_coin2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
