<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/ui/images/loading/hall_room_fish_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{229,214}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,328}</string>
			</dict>
			<key>games/fish/assets/ui/images/loading/hall_room_fish_1_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,217},{12,11}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>games/fish/assets/ui/images/loading/loading_bar_blood.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,217},{800,38}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{814,52}</string>
			</dict>
			<key>games/fish/assets/ui/images/loading/loading_pic_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1},{814,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{814,52}</string>
			</dict>
			<key>games/fish/assets/ui/images/loading/loading_pic_bubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,422},{151,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,167}</string>
			</dict>
			<key>games/fish/assets/ui/images/loading/loading_pic_bubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,270},{150,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,172}</string>
			</dict>
			<key>games/fish/assets/ui/images/loading/loading_pic_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,217},{51,78}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,78}</string>
			</dict>
			<key>games/fish/assets/ui/images/loading/loading_update_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1019},{4,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,186}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>loading.png</string>
			<key>realTextureFileName</key>
			<string>loading.png</string>
			<key>size</key>
			<string>{285,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>