<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/common/menu/bg_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,2},{2,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,102}</string>
			</dict>
			<key>hall/common/menu/btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,527},{34,34}}</string>
				<key>offset</key>
				<string>{50,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,34}</string>
			</dict>
			<key>hall/common/menu/btn_bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,413},{116,54}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,80}</string>
			</dict>
			<key>hall/common/menu/btn_options.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,292},{117,53}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,80}</string>
			</dict>
			<key>hall/common/bg_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,468},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>hall/common/bg_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,327},{16,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,44}</string>
			</dict>
			<key>hall/common/bk_head_ico.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,262},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>hall/common/bk_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,603},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>hall/common/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,108},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/common/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,469},{80,53}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,72}</string>
			</dict>
			<key>hall/common/btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,174},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>
			<key>hall/common/btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,130},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/common/btn_fd_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,138},{146,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,92}</string>
			</dict>
			<key>hall/common/btn_gps.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,62},{136,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,108}</string>
			</dict>
			<key>hall/common/btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,152},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/common/btn_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,174},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/common/btn_lianxi_kefu.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,192},{68,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,42}</string>
			</dict>
			<key>hall/common/btn_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,174},{60,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>hall/common/btn_purse.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,359},{118,58}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,80}</string>
			</dict>
			<key>hall/common/btn_sctp.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,566},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>hall/common/btn_sctp_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,514},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>hall/common/btn_sctp_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,391},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>hall/common/btn_sctp_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,391},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>hall/common/btn_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,290},{47,47}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>
			<key>hall/common/btn_switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,576},{40,40}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>
			<key>hall/common/btn_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,196},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/common/btn_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,608},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>hall/common/cb_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,565},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hall/common/cb_single_act.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,375},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hall/common/cb_single_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,438},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hall/common/cbx_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,353},{40,32}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>hall/common/fd_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,2},{288,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,56}</string>
			</dict>
			<key>hall/common/img_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,218},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/common/img_kefu.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,438},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>
			<key>hall/common/img_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,484},{39,35}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>
			<key>hall/common/img_tm_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,552},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>hall/common/img_tm_h_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,341},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>hall/common/info_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,553},{42,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>hall/common/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,87},{6,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,2}</string>
			</dict>
			<key>hall/common/line_horizontal.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,2},{377,2}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,2}</string>
			</dict>
			<key>hall/common/loading_halo.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,288},{86,88}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hall/common/loading_peach.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,533},{39,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>hall/common/pixels_alpha.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,99},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>hall/common/pixels_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,93},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>hall/common/pixels_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,93},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>hall/common/set_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,2},{2,321}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,330}</string>
			</dict>
			<key>hall/common/loading_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,269},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>hall/common/loading_circle_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,378},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>hall/common/room_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{132,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,132}</string>
			</dict>
			<key>hall/common/pic_Loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,163},{98,95}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>hall/common/head_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,350},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>hall/common/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,62},{32,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,72}</string>
			</dict>
			<key>hall/common/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,138},{32,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,72}</string>
			</dict>
			<key>hall/common/btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,214},{32,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,72}</string>
			</dict>
			<key>hall/common/btn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,226},{32,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,72}</string>
			</dict>
			<key>hall/common/btn_tq.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,433},{65,78}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,96}</string>
			</dict>
			<key>hall/common/btn_jm.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,515},{57,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,96}</string>
			</dict>
			<key>hall/common/pixels_white_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,73},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>hall/common/pic_icon_jd.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,634},{33,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,30}</string>
			</dict>
			<key>hall/common/pic_icon_yb.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,440},{40,29}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,30}</string>
			</dict>
			<key>hall/common/btn_dh.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,138},{84,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,36}</string>
			</dict>
			<key>hall/common/pixels_white_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,99},{3,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{3,1}</string>
			</dict>
			<key>hall/common/btn_full_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,578},{26,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>hall/common/btn_lxkf.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,2},{186,45}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,46}</string>
			</dict>
			<key>hall/common/pic_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,2},{24,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,12}</string>
			</dict>
			<key>hall/common/pic_line_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,30},{2,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,40}</string>
			</dict>
			<key>hall/common/pic_icon_fk.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,302},{47,29}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,30}</string>
			</dict>
			<key>hall/common/pic_bg_playerinfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,514},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>hall/common/btn_tq_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,62},{97,105}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,112}</string>
			</dict>
			<key>hall/common/btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,238},{50,43}}</string>
				<key>offset</key>
				<string>{-3,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>
			<key>hall/common/roomcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,481},{93,57}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>hall/common/pixels_white_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,87},{3,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,2}</string>
			</dict>
			<key>hall/common/cb_nor_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,476},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hall/common/cbx_select_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,397},{39,31}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,32}</string>
			</dict>
			<key>hall/common/menu/btn_czhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,264},{123,57}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,80}</string>
			</dict>
			<key>hall/common/pic_icon_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,634},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>