<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/room/btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,425},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>
			<key>hall/room/btn_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,239},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>
			<key>hall/room/img_person.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,478},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>hall/room/match/bisai_jianbian.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,503},{127,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,2}</string>
			</dict>
			<key>hall/room/match/bisai_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,425},{18,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,24}</string>
			</dict>
			<key>hall/room/match/bisai_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,509},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>hall/room/match/img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,448},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>hall/room/match/img_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,493},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>hall/room/match/img_bisai.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,263},{459,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{459,104}</string>
			</dict>
			<key>hall/room/match/icon/item_s_wxhb.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,124},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>hall/room/match/icon/item_s_yb.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,316},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>hall/room/friend/btn_playerhead.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,333},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>hall/room/friend/player_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,260},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hall/room/friend/player_head_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,354},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hall/room/friend/btn_cjfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,2},{192,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,48}</string>
			</dict>
			<key>hall/room/friend/btn_sx.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,166},{192,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,48}</string>
			</dict>
			<key>hall/room/friend/pic_dt.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,124},{82,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,44}</string>
			</dict>
			<key>hall/room/friend/pic_qc.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,448},{82,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,44}</string>
			</dict>
			<key>hall/room/friend/pic_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,218},{312,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,38}</string>
			</dict>
			<key>hall/room/general/room_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{257,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,201}</string>
			</dict>
			<key>hall/room/general/room_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,493},{20,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,12}</string>
			</dict>
			<key>hall/room/general/room_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,224},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>hall/room/friend/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,239},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hall/room/friend/btn_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,172},{20,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,80}</string>
			</dict>
			<key>hall/room/match/icon/item_s_hfc.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,370},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>hall/room/match/icon/item_s_jd.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,424},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>hall/room/friend/daikai-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,196},{92,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,24}</string>
			</dict>
			<key>hall/room/friend/desk_majiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,2},{192,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,160}</string>
			</dict>
			<key>hall/room/friend/desk_puke.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,2},{192,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,160}</string>
			</dict>
			<key>hall/room/friend/img_ruzuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,371},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>hall/room/friend/img_avatar_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,371},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>hall/room/friend/avatar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,371},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hall/room/general/img_jindutiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,371},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>hall/room/general/img_jindutiao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,2},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>hall/room/general/bg_difen.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,198},{140,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>room.png</string>
			<key>realTextureFileName</key>
			<string>room.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>