<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/store/btn_servise.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,318},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hall/store/expbar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,2},{20,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,18}</string>
			</dict>
			<key>hall/store/expbar_blood.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,24},{20,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,18}</string>
			</dict>
			<key>hall/store/ico_bean_lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,234},{96,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,80}</string>
			</dict>
			<key>hall/store/ico_bean_lv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,362},{96,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,80}</string>
			</dict>
			<key>hall/store/ico_bean_lv3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,128},{96,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,80}</string>
			</dict>
			<key>hall/store/ico_bean_lv4.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,128},{96,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,80}</string>
			</dict>
			<key>hall/store/ico_bean_lv5.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,228},{96,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,80}</string>
			</dict>
			<key>hall/store/icon_fangka.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,234},{64,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>
			<key>hall/store/p_ico_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,242},{106,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,70}</string>
			</dict>
			<key>hall/store/p_ico_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,242},{106,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,70}</string>
			</dict>
			<key>hall/store/p_ico_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,312},{106,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,70}</string>
			</dict>
			<key>hall/store/p_ico_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,316},{106,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,70}</string>
			</dict>
			<key>hall/store/pic_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,318},{100,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,74}</string>
			</dict>
			<key>hall/store/score_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,462},{52,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,44}</string>
			</dict>
			<key>hall/store/tips_rm.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,2},{120,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,130}</string>
			</dict>
			<key>hall/store/vip_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,318},{22,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,26}</string>
			</dict>
			<key>hall/store/pic_bk_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,302},{56,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,44}</string>
			</dict>
			<key>hall/store/pic_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{234,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,122}</string>
			</dict>
			<key>hall/store/ico_zuanshi_lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,2},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>hall/store/ico_zuanshi_lv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,118},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>hall/store/ico_zuanshi_lv3.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,126},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>store.png</string>
			<key>realTextureFileName</key>
			<string>store.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>