<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid16_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{76,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{157,1},{76,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid16_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{76,26}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{79,37},{76,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid16_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1,39},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid16_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{235,33},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid16_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{76,26}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{157,35},{76,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid16_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{76,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{235,1},{76,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid16_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,34}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{79,1},{76,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid16_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,36}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid16.pvr.ccz</string>
            <key>size</key>
            <string>{312,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b3b5ee7327ce851082ae5a9028ac4fc:7efb8f5013b6983835489f6bf061d1d2:b1dc0459ce9fec713ef4f825a6e2eca1$</string>
            <key>textureFileName</key>
            <string>fishid16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
