<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{69,137},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{1,145},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{75,1},{64,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{66,40}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{1,103},{66,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{70,30}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{1,71},{70,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{72,30}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{1,33},{70,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,1}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{73,67},{68,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid2.pvr.ccz</string>
            <key>size</key>
            <string>{128,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eca81458a1d04c8523b5cff0d29136f6:cbfe472de9e756d61f69259768b51158:8209ace06dad333bd7919658dbb6e47a$</string>
            <key>textureFileName</key>
            <string>fishid2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
