<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{61,1},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{121,1},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{181,1},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{241,1},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{361,1},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{419,1},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{301,1},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid3.pvr.ccz</string>
            <key>size</key>
            <string>{476,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a4c2907fbd5a7d13c7ce9d0fc6157e8:6f4a6ee1bbae268879506144a0d4395f:c469d49ca1a417798da4c532315ac350$</string>
            <key>textureFileName</key>
            <string>fishid3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
