<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid157_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{260,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,260}</string>
                <key>textureRect</key>
                <string>{{249,481},{260,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid157_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{256,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,260}</string>
                <key>textureRect</key>
                <string>{{1,729},{256,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid157_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{250,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,260}</string>
                <key>textureRect</key>
                <string>{{259,729},{250,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid157_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{246,248}</string>
                <key>spriteSourceSize</key>
                <string>{280,260}</string>
                <key>textureRect</key>
                <string>{{1,477},{246,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid157_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{246,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,260}</string>
                <key>textureRect</key>
                <string>{{249,237},{246,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid157_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{246,238}</string>
                <key>spriteSourceSize</key>
                <string>{280,260}</string>
                <key>textureRect</key>
                <string>{{1,237},{246,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid157_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{246,234}</string>
                <key>spriteSourceSize</key>
                <string>{280,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid157_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{252,234}</string>
                <key>spriteSourceSize</key>
                <string>{280,260}</string>
                <key>textureRect</key>
                <string>{{249,1},{252,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid157.pvr.ccz</string>
            <key>size</key>
            <string>{510,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7393d95a4dd21e2be07f88a9dc84730c:7597b83f5931ea6a8bc904c1cdf5a14c:d011cb4461e272ffc0bb1c69277698ff$</string>
            <key>textureFileName</key>
            <string>fishid157.pvr.ccz</string>
        </dict>
    </dict>
</plist>
