<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid154_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,13}</string>
                <key>spriteSize</key>
                <string>{244,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1105,1},{244,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid154_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,11}</string>
                <key>spriteSize</key>
                <string>{264,284}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{567,1},{264,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid154_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,12}</string>
                <key>spriteSize</key>
                <string>{284,282}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{283,1},{284,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid154_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,13}</string>
                <key>spriteSize</key>
                <string>{288,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid154_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{270,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{833,1},{270,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid154.pvr.ccz</string>
            <key>size</key>
            <string>{1350,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaf98f525f9422b03591da4ef4fd60a8:2651461676b720f2755dc1e2df985857:c02d053b9051bb1f8fa893c9d66fe2c0$</string>
            <key>textureFileName</key>
            <string>fishid154.pvr.ccz</string>
        </dict>
    </dict>
</plist>
