<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid153_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{300,274}</string>
                <key>spriteSourceSize</key>
                <string>{360,340}</string>
                <key>textureRect</key>
                <string>{{1,505},{300,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid153_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{288,272}</string>
                <key>spriteSourceSize</key>
                <string>{360,340}</string>
                <key>textureRect</key>
                <string>{{1,1029},{288,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid153_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{300,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,340}</string>
                <key>textureRect</key>
                <string>{{1,781},{300,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid153_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{318,244}</string>
                <key>spriteSourceSize</key>
                <string>{360,340}</string>
                <key>textureRect</key>
                <string>{{1,1},{318,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid153_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{316,256}</string>
                <key>spriteSourceSize</key>
                <string>{360,340}</string>
                <key>textureRect</key>
                <string>{{1,247},{316,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid153.pvr.ccz</string>
            <key>size</key>
            <string>{320,1302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e91251e27dd14ca179a10f4598389783:b79607a69bdfffa90d3d24a647e8f86f:2dd625f01cda61870fafbad262545b7a$</string>
            <key>textureFileName</key>
            <string>fishid153.pvr.ccz</string>
        </dict>
    </dict>
</plist>
