<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid101_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{346,180}</string>
                <key>spriteSourceSize</key>
                <string>{350,190}</string>
                <key>textureRect</key>
                <string>{{1,185},{346,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid101_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{346,176}</string>
                <key>spriteSourceSize</key>
                <string>{350,190}</string>
                <key>textureRect</key>
                <string>{{1,547},{346,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid101_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{346,168}</string>
                <key>spriteSourceSize</key>
                <string>{350,190}</string>
                <key>textureRect</key>
                <string>{{1,1079},{346,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid101_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{346,178}</string>
                <key>spriteSourceSize</key>
                <string>{350,190}</string>
                <key>textureRect</key>
                <string>{{1,367},{346,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid101_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{346,182}</string>
                <key>spriteSourceSize</key>
                <string>{350,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid101_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{346,174}</string>
                <key>spriteSourceSize</key>
                <string>{350,190}</string>
                <key>textureRect</key>
                <string>{{1,903},{346,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid101_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{346,168}</string>
                <key>spriteSourceSize</key>
                <string>{350,190}</string>
                <key>textureRect</key>
                <string>{{1,1249},{346,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid101_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{346,176}</string>
                <key>spriteSourceSize</key>
                <string>{350,190}</string>
                <key>textureRect</key>
                <string>{{1,725},{346,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid101.pvr.ccz</string>
            <key>size</key>
            <string>{348,1418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49a6de4fcbb62831bf04b31c094d32ee:aeda7d215c91f3fdebaeccf5ee08ddea:73677d58af6a7a1b4fd1cc861be9f735$</string>
            <key>textureFileName</key>
            <string>fishid101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
