<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid501_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{246,146}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,301},{246,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid501_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{248,146}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,153},{248,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid501_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{244,146}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,761},{244,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid501_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{242,150}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,1063},{242,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid501_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{244,156}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,449},{244,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid501_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{244,152}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,607},{244,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid501_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{242,152}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,909},{242,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid501_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{248,150}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid501.pvr.ccz</string>
            <key>size</key>
            <string>{250,1214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad6a5277bfa2802ad4dec8ac804d0549:b65aaebc6ba06665fc276d3df997bfdb:f5198be3086105f98729c8ad48818dde$</string>
            <key>textureFileName</key>
            <string>fishid501.pvr.ccz</string>
        </dict>
    </dict>
</plist>
