<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid12_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{102,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{129,95},{102,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid12_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{86,124}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid12_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{92,126}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{1,95},{92,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid12_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{92,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{127,1},{92,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid12_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{108,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{117,303},{108,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid12_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{1,189},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid12_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{1,303},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid12_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{102,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{111,199},{102,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid12.pvr.ccz</string>
            <key>size</key>
            <string>{248,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe077988b3d06be297ddcb0509cf922b:758e28be9baa8367967e0f61ba1e80d2:5474c457af8bdd2eaf9295d9cf52b594$</string>
            <key>textureFileName</key>
            <string>fishid12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
