<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,42}</string>
                <key>textureRect</key>
                <string>{{1,133},{66,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,42}</string>
                <key>textureRect</key>
                <string>{{69,141},{66,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,42}</string>
                <key>textureRect</key>
                <string>{{1,177},{66,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,42}</string>
                <key>textureRect</key>
                <string>{{71,1},{68,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,42}</string>
                <key>textureRect</key>
                <string>{{1,45},{68,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,42}</string>
                <key>textureRect</key>
                <string>{{71,71},{68,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,42}</string>
                <key>textureRect</key>
                <string>{{1,89},{68,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid1.pvr.ccz</string>
            <key>size</key>
            <string>{114,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae5e239206d5b47b55eeedfa4d741456:80776fc90e63c0eb17cbeaa30dfa1784:f496d99dc8d2be194c72dae4a41e8a04$</string>
            <key>textureFileName</key>
            <string>fishid1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
