<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid155_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,12}</string>
                <key>spriteSize</key>
                <string>{516,352}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1431},{516,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid155_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,13}</string>
                <key>spriteSize</key>
                <string>{518,352}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1077},{518,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid155_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,16}</string>
                <key>spriteSize</key>
                <string>{522,356}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,361},{522,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid155_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,16}</string>
                <key>spriteSize</key>
                <string>{524,358}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{524,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid155_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,12}</string>
                <key>spriteSize</key>
                <string>{520,356}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,719},{520,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid155.pvr.ccz</string>
            <key>size</key>
            <string>{526,1784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1651922fed87f59c0485edad173fe790:5d5b7da85d5861c38abd0ad282380205:e14cbd2f51cb0a0acd3f8436df1f382e$</string>
            <key>textureFileName</key>
            <string>fishid155.pvr.ccz</string>
        </dict>
    </dict>
</plist>
