<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid158_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{468,220}</string>
                <key>spriteSourceSize</key>
                <string>{500,250}</string>
                <key>textureRect</key>
                <string>{{1,579},{468,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid158_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{466,220}</string>
                <key>spriteSourceSize</key>
                <string>{500,250}</string>
                <key>textureRect</key>
                <string>{{1,801},{466,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid158_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{456,192}</string>
                <key>spriteSourceSize</key>
                <string>{500,250}</string>
                <key>textureRect</key>
                <string>{{1,1023},{456,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid158_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{454,166}</string>
                <key>spriteSourceSize</key>
                <string>{500,250}</string>
                <key>textureRect</key>
                <string>{{1,1217},{454,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid158_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-7}</string>
                <key>spriteSize</key>
                <string>{450,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,250}</string>
                <key>textureRect</key>
                <string>{{1,1385},{450,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid158_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{470,170}</string>
                <key>spriteSourceSize</key>
                <string>{500,250}</string>
                <key>textureRect</key>
                <string>{{1,407},{470,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid158_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{484,194}</string>
                <key>spriteSourceSize</key>
                <string>{500,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{484,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid158_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{480,208}</string>
                <key>spriteSourceSize</key>
                <string>{500,250}</string>
                <key>textureRect</key>
                <string>{{1,197},{480,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid158.pvr.ccz</string>
            <key>size</key>
            <string>{486,1544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a124d2186e5b2523b264cda486e79b61:917e044767ba557f43eb357d9c750d94:2f4a728200f819165c265a809864b036$</string>
            <key>textureFileName</key>
            <string>fishid158.pvr.ccz</string>
        </dict>
    </dict>
</plist>
