<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid10_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid10_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{95,86}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{1,299},{95,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid10_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{95,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{1,463},{95,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid10_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{95,74}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{1,387},{95,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid10_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{1,101},{95,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid10_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{1,201},{95,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid10.pvr.ccz</string>
            <key>size</key>
            <string>{97,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49a285a18699a4c47823feaefbce5b83:d71937baa3a43947eaf99156da145968:b9eb702a5c5910e8696b12943739c769$</string>
            <key>textureFileName</key>
            <string>fishid10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
