<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid156_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{358,192}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{1,399},{358,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid156_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{350,190}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{1,593},{350,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid156_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,2}</string>
                <key>spriteSize</key>
                <string>{332,186}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{183,967},{332,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid156_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,1}</string>
                <key>spriteSize</key>
                <string>{342,180}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{1,967},{342,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid156_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{350,180}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{1,785},{350,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid156_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,200}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{370,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid156_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{358,194}</string>
                <key>spriteSourceSize</key>
                <string>{370,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{358,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid156.pvr.ccz</string>
            <key>size</key>
            <string>{372,1310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f1523da49a9e3f8cb1753539e818d38:ca82d98332297f4e878e3ef97041a97a:3af37f38488de50423ccf435bf32ab82$</string>
            <key>textureFileName</key>
            <string>fishid156.pvr.ccz</string>
        </dict>
    </dict>
</plist>
