<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid152_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{306,428}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid152_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,7}</string>
                <key>spriteSize</key>
                <string>{268,406}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{309,1},{268,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid152_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,22}</string>
                <key>spriteSize</key>
                <string>{254,396}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{579,1},{254,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid152_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,26}</string>
                <key>spriteSize</key>
                <string>{182,388}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{835,247},{182,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid152_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,25}</string>
                <key>spriteSize</key>
                <string>{186,390}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{1243,1},{186,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid152_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,12}</string>
                <key>spriteSize</key>
                <string>{244,406}</string>
                <key>spriteSourceSize</key>
                <string>{320,440}</string>
                <key>textureRect</key>
                <string>{{835,1},{244,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid152.pvr.ccz</string>
            <key>size</key>
            <string>{1430,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01d2c999c7174c8a8e6b40fbe4e55901:008c68269bbf10a8c53b8a9e50730aac:412b42045503c59eb53264ea54b804a6$</string>
            <key>textureFileName</key>
            <string>fishid152.pvr.ccz</string>
        </dict>
    </dict>
</plist>
