<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid9_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid9_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{88,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,83},{88,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid9_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{1,167},{88,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid9_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{90,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{93,79},{90,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid9_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{145,139},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid9_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{84,50}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{185,1},{84,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid9_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{86,58}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{145,193},{86,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid9_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{79,167},{88,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid9_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{93,1},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid9.pvr.ccz</string>
            <key>size</key>
            <string>{236,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fc8ac7c556ac3156f4a504e2bba81da:3c399cb9b8d4f5e6bdc501b580bffd6f:436dc7e579d3c7069dbb86212cabe50f$</string>
            <key>textureFileName</key>
            <string>fishid9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
