<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid151_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{295,249}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{295,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid151_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{319,239}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{623,1},{319,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid151_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,233}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1271,1},{325,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid151_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,235}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{944,1},{325,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid151_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{323,245}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{298,1},{323,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid151.pvr.ccz</string>
            <key>size</key>
            <string>{1597,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73f65164395d9011eab3303f12604946:42c4d7ab824a3fa0706cd435f0bc4824:2805bf0ed1dd1fdb334b0f5b192ca5dc$</string>
            <key>textureFileName</key>
            <string>fishid151.pvr.ccz</string>
        </dict>
    </dict>
</plist>
