<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid8_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{68,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,104}</string>
                <key>textureRect</key>
                <string>{{85,139},{68,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid8_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{68,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,104}</string>
                <key>textureRect</key>
                <string>{{167,1},{68,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid8_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{66,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid8_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,104}</string>
                <key>textureRect</key>
                <string>{{81,1},{66,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid8_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,104}</string>
                <key>textureRect</key>
                <string>{{1,137},{68,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid8_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{68,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,104}</string>
                <key>textureRect</key>
                <string>{{187,139},{68,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid8_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,104}</string>
                <key>textureRect</key>
                <string>{{1,69},{66,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid8_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,104}</string>
                <key>textureRect</key>
                <string>{{95,71},{66,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid8.pvr.ccz</string>
            <key>size</key>
            <string>{256,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a89b55e087934fafd3973cd7baac2fbc:635f98e9e5920c6f677012f012fafb69:bf2f2def7359355c91b6cc32e1448e56$</string>
            <key>textureFileName</key>
            <string>fishid8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
