<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid51_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{314,104}</string>
                <key>spriteSourceSize</key>
                <string>{326,156}</string>
                <key>textureRect</key>
                <string>{{321,1},{314,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid51_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{316,94}</string>
                <key>spriteSourceSize</key>
                <string>{326,156}</string>
                <key>textureRect</key>
                <string>{{1,95},{316,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid51_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{318,98}</string>
                <key>spriteSourceSize</key>
                <string>{326,156}</string>
                <key>textureRect</key>
                <string>{{1,191},{318,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid51_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{316,102}</string>
                <key>spriteSourceSize</key>
                <string>{326,156}</string>
                <key>textureRect</key>
                <string>{{1,391},{316,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid51_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{318,98}</string>
                <key>spriteSourceSize</key>
                <string>{326,156}</string>
                <key>textureRect</key>
                <string>{{1,291},{318,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid51_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{318,92}</string>
                <key>spriteSourceSize</key>
                <string>{326,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{318,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid51_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{314,102}</string>
                <key>spriteSourceSize</key>
                <string>{326,156}</string>
                <key>textureRect</key>
                <string>{{1,495},{314,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid51.pvr.ccz</string>
            <key>size</key>
            <string>{426,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cdd2386001eb2d40cf6631acde80dfe:eb99319867532269e077b8210e5953a3:23832a69822cd0df33f0efd3e2a395cf$</string>
            <key>textureFileName</key>
            <string>fishid51.pvr.ccz</string>
        </dict>
    </dict>
</plist>
