<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid52_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{288,140}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{297,1},{288,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid52_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{292,132}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,257},{292,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid52_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{294,126}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid52_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{294,138}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,525},{294,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid52_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{292,142}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{297,291},{292,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid52_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{294,132}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,391},{294,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid52_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-6}</string>
                <key>spriteSize</key>
                <string>{294,126}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,129},{294,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid52_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{296,138}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,665},{296,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid52.pvr.ccz</string>
            <key>size</key>
            <string>{440,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f93e51292b47d4a4adef922319552b47:c4525809e7beed0bb36b209d778fcba7:f42ea5abd8f939a7a4a1a15845111df1$</string>
            <key>textureFileName</key>
            <string>fishid52.pvr.ccz</string>
        </dict>
    </dict>
</plist>
