<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid13_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{136,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{141,1},{136,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid13_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{136,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{1,143},{136,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid13_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{138,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid13_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{136,66}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{1,219},{136,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid13_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{1,353},{134,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid13_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{134,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{1,423},{134,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid13_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{136,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{1,287},{136,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid13_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{1,73},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid13_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{136,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{141,139},{136,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid13_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{134,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{139,277},{134,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid13.pvr.ccz</string>
            <key>size</key>
            <string>{218,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fda81c5d0721a010c4287342fd58abfb:eef7587127fb23f176ae7c73ff65678e:a0c348be942a290652f3b51604e3daab$</string>
            <key>textureFileName</key>
            <string>fishid13.pvr.ccz</string>
        </dict>
    </dict>
</plist>
