<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishid204_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-6}</string>
                <key>spriteSize</key>
                <string>{270,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{1,97},{270,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid204_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{252,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{345,245},{252,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid204_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{260,96}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{1,189},{260,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid204_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{256,96}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{1,391},{256,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid204_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{252,102}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{1,287},{252,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishid204_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-6}</string>
                <key>spriteSize</key>
                <string>{242,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{275,1},{242,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid204_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{262,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{263,245},{262,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishid204_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{272,94}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishid204.pvr.ccz</string>
            <key>size</key>
            <string>{426,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d19f1433547cb27b8cf4c1bfc62552af:0a8ac4ee87286701203eee5338a5da3f:99738ffb28c987171710bead3f2c4aef$</string>
            <key>textureFileName</key>
            <string>fishid204.pvr.ccz</string>
        </dict>
    </dict>
</plist>
