<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/ui/images/cannon/bl_btn_-_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,141},{68,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,44}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_btn_-_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,847},{68,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,44}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_btn_add_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,141},{68,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,44}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_btn_add_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,78},{68,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,44}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_cannon_base_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,201},{188,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,80}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_coin_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1},{184,75}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,76}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_gun_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,771},{89,135}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_gun_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,627},{95,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_gun_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,341},{110,140}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_gun_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1},{109,138}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_gun_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,486},{128,139}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_gun_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,341},{125,143}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_gun_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,201},{138,138}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_gun_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,771},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_multiple_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,283},{140,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,40}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_pic_bankrupt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,908},{129,78}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,78}</string>
			</dict>
			<key>games/fish/assets/ui/images/cannon/bl_pic_player_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cannon.png</string>
			<key>realTextureFileName</key>
			<string>cannon.png</string>
			<key>size</key>
			<string>{497,987}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>497</integer>
			<key>height</key>
			<integer>987</integer>
		</dict>
	</dict>
</plist>