<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net_9_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{243,887},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_9_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{243,459},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_9_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_9_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,243},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_9_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,485},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_9_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,727},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_9_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{243,1},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_9_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,222}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{243,235},{222,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_9_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{210,208}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{243,677},{210,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_9_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-6}</string>
                <key>spriteSize</key>
                <string>{138,128}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,969},{138,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>net_9.pvr.ccz</string>
            <key>size</key>
            <string>{476,1098}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80e4eb5ac78e3c442147748173546bc0:df4b0f4a8820354196643c154d419503:1c36dc667f8f1706126734cad8156fd5$</string>
            <key>textureFileName</key>
            <string>net_9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
