<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/ui/images/form/form_box_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,1},{126,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/form_box_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,69},{126,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/form_box_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,155},{126,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/form_pic_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,69},{311,29}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,30}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/form_pic_title_tj.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,917},{96,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,44}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,896},{73,52}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,576},{65,66}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1},{107,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,554},{107,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,745},{60,67}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,601},{80,64}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,283},{107,75}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,853},{89,62}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,757},{64,71}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,947},{89,65}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,479},{110,73}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_151.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,601},{102,68}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_152.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,87},{109,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_153.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,325},{117,78}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_154.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,382},{116,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_155.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,405},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_156.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,500},{99,72}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,814},{64,58}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_201.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{209,66}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_203.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,830},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_204.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,69},{212,33}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_205.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,843},{72,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,155},{52,34}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_301.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,241},{122,82}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_302.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,764},{87,69}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_303.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,500},{74,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_304.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,764},{77,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,853},{92,65}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,644},{64,61}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,692},{95,70}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,198},{112,68}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,622},{101,68}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,87},{110,66}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,705},{83,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,944},{91,59}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,971},{47,72}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,683},{75,60}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>form.png</string>
			<key>realTextureFileName</key>
			<string>form.png</string>
			<key>size</key>
			<string>{448,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>448</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>