<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/ui/images/form/form_box_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,2},{126,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/form_box_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,132},{126,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/form_box_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,262},{126,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/form_pic_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,392},{311,29}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,30}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/form_pic_title_tj.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,376},{96,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,44}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,73},{73,52}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,77},{65,66}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,308},{107,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,235},{107,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,2},{60,67}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,351},{80,64}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,2},{107,75}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,420},{89,62}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,2},{64,71}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,303},{89,65}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,2},{110,73}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_151.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,232},{102,68}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_152.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,81},{109,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_153.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,425},{117,78}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_154.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,425},{116,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_155.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,425},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_156.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,305},{99,72}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,2},{64,58}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_201.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{209,66}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_203.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,2},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_204.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,2},{212,33}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_205.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,80},{72,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,119},{52,34}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_301.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,428},{122,82}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_302.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,116},{87,69}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_303.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,2},{74,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_304.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,419},{77,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,207},{92,65}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,147},{64,61}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,423},{95,70}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,119},{112,68}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,304},{101,68}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,194},{110,66}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,235},{83,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,195},{91,59}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,372},{47,72}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,156},{75,60}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_501.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,290},{93,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_401.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,215},{209,66}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_157.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,116},{75,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_158.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,2},{113,70}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,372},{63,44}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/form/fishid_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,175},{53,33}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>form.png</string>
			<key>realTextureFileName</key>
			<string>form.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>