<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/ui/images/effect/fl_blast2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,944},{110,129}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/fl_blast2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,755},{197,190}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/fl_blast2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1766,305},{257,239}}</string>
				<key>offset</key>
				<string>{-7,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/fl_blast2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,371},{322,286}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/fl_blast2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,348},{376,316}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/fl_blast2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,0},{399,348}}</string>
				<key>offset</key>
				<string>{-4,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/fl_blast2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,0},{442,371}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/fl_blast2_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,0},{448,386}}</string>
				<key>offset</key>
				<string>{-3,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/fl_blast2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{477,406}}</string>
				<key>offset</key>
				<string>{0,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/hgtips_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,406},{98,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/hgtips_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,491},{98,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/hgtips_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,506},{98,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/hgtips_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,497},{97,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/hgtips_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,597},{94,100}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/hgtips_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,591},{97,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/hgtips_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,606},{97,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/hgtips_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,506},{97,99}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/hgtips_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,506},{97,91}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/light_sd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,768},{133,131}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/light_sd_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2012,32},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/light_sd_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1706,945},{139,121}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/lightning_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,544},{58,400}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,400}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/lightning_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,371},{57,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,400}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/lightningball.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,1073},{131,127}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/proptips_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,493},{44,45}}</string>
				<key>offset</key>
				<string>{-23,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/proptips_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,371},{61,62}}</string>
				<key>offset</key>
				<string>{-15,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/proptips_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,386},{79,79}}</string>
				<key>offset</key>
				<string>{-6,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/proptips_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,506},{88,88}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/proptips_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,597},{90,91}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/proptips_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,605},{90,91}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/proptips_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,594},{86,87}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/proptips_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1845,945},{76,77}}</string>
				<key>offset</key>
				<string>{7,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/proptips_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,433},{59,60}}</string>
				<key>offset</key>
				<string>{15,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/proptips_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,538},{41,43}}</string>
				<key>offset</key>
				<string>{24,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_skll_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,386},{113,114}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_skll_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,544},{212,211}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_skll_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,706},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_skll_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,506},{93,94}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_skll_06_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,500},{82,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_skll_06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,691},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_skll_06_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,500},{111,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_skll_06_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,386},{118,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_skll_06_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,406},{112,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_skll_06_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,406},{122,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_unlock_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1766,0},{246,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,321}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_hourglass_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,612},{201,25}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,30}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_hourglass_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,657},{241,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,25}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_hourglass_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,664},{420,104}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,110}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_hourglass_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,581},{41,40}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_lamp.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,406},{139,85}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,86}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_lamp_clouds.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,768},{272,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,134}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_lock_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,899},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_lock_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,386},{137,120}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_lock_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2012,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/effect_lock_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1845,1022},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/bl_multiple_bg_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,621},{40,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,38}</string>
			</dict>
			<key>games/fish/assets/ui/images/effect/bl_multiple_bg_light_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2012,63},{14,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>combo.png</string>
			<key>realTextureFileName</key>
			<string>combo.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>