<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/hall/images/room/hall_room_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,329},{325,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,326}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{326,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,326}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,656},{325,325}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,326}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,658},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bgdown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1},{336,184}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,186}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bgdown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,1},{304,176}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,186}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bgdown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,179},{273,115}}</string>
				<key>offset</key>
				<string>{0,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,186}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bgdown_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,296},{112,103}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,106}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bgdown_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,253},{118,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,152}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bgdown_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,373},{133,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,110}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bgdown_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,187},{227,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,71}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bgdown_4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,187},{245,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,75}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bgdown_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,144},{189,107}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,107}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_bgdown_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,704},{154,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,81}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,401},{101,101}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1459,410},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,296},{103,103}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,955},{63,64}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,945},{53,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,32}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,246},{56,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,66}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,938},{40,25}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,26}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,514},{45,54}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,54}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,883},{63,53}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,263},{77,56}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,56}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,968},{73,55}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,56}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,539},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,539},{27,25}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_effect_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,957},{66,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,69}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,652},{229,214}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,328}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_1_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,307},{12,11}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,656},{240,228}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,328}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,329},{291,327}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,328}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,1},{150,141}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,143}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_4_eyes1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,514},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_4_eyes2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,940},{26,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,39}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_4_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,179},{104,65}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,65}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,323},{233,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,263}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_5_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,584},{95,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,65}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_5_hand1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,940},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_5_hand2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,485},{139,102}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,103}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_5_veins.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,898},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,658},{308,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,244}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_6_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,539},{29,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,19}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_6_hand1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,502},{88,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,84}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_6_hand2.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,539},{61,41}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,41}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_6_tail1.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,258},{47,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,81}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_6_tail2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,883},{46,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,77}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_fish_6_tail3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,878},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,104}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_ground.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,304},{160,208}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,210}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_pic_kfsj.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,979},{131,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_pic_zwkf.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,979},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,750},{275,98}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,100}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,649},{276,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,100}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1590,850},{274,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,100}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_title_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,850},{211,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,96}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_title_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,1},{278,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,100}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_title_light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,401},{94,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,104}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_title_light_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,514},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hall_room_title_pb_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,931},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>games/fish/assets/hall/images/title/room_title_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,941},{94,36}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,40}</string>
			</dict>
			<key>games/fish/assets/hall/images/title/room_title_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,941},{94,36}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,40}</string>
			</dict>
			<key>games/fish/assets/hall/images/title/room_title_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,904},{118,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,35}</string>
			</dict>
			<key>games/fish/assets/hall/images/title/room_title_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,940},{92,36}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,40}</string>
			</dict>
			<key>games/fish/assets/hall/images/title/room_title_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,945},{132,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,35}</string>
			</dict>
			<key>games/fish/assets/hall/images/title/room_title_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,941},{93,36}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,40}</string>
			</dict>
			<key>games/fish/assets/hall/images/title/room_title_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,904},{87,35}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,36}</string>
			</dict>
			<key>games/fish/assets/hall/images/title/room_title_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,904},{86,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,36}</string>
			</dict>
			<key>games/fish/assets/hall/images/title/room_title_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,983},{133,35}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,36}</string>
			</dict>
			<key>games/fish/assets/hall/images/title/room_title_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,904},{88,35}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,40}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_btn_back_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,410},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_btn_back_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,492},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_btn_bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,296},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_btn_add_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,583},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_btn_add_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,883},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_pic_prop_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,948},{52,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_pic_prop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,514},{46,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>games/fish/assets/hall/images/mail/com_boxs_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,179},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/mail/mail_pic_words_ck.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,263},{101,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/mail/mail_pic_words_gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,539},{88,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/mail/mail_pic_words_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,258},{89,43}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/mail/mail_pic_words_myxyj.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,980},{184,41}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/mail/mail_pic_words_nw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,898},{86,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,40}</string>
			</dict>
			<key>games/fish/assets/hall/images/mail/mail_pic_words_yx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,978},{97,45}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,46}</string>
			</dict>
			<key>games/fish/assets/hall/images/mail/com_boxs_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,263},{38,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,8}</string>
			</dict>
			<key>games/fish/assets/hall/images/mail/com_pic_line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,1016},{4,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>games/fish/assets/hall/images/mail/com_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,588},{66,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,152}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,979},{44,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,142}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,588},{154,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,68}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,275},{164,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_bg_ring_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1},{272,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,272}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_bg_ring_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,307},{230,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,275},{111,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_dz_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,561},{207,86}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,86}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_dz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,750},{207,86}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,86}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_num_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,246},{52,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_dz0.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,273},{115,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,48}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_dzcgl.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,945},{149,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,28}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_sjpb.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,983},{161,31}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,32}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_prop_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,589},{113,113}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/com_bg_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,931},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/com_pic_hook.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,940},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/com_pic_hookbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,898},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/bl_cannon_base_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,570},{188,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/bl_gun_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,787},{89,135}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/bl_multiple_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,983},{140,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fish_hall.png</string>
			<key>realTextureFileName</key>
			<string>fish_hall.png</string>
			<key>size</key>
			<string>{2047,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2047</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>