<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_chooseframe.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,49},{132,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,132}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/prop_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,236},{87,89}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_boxbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,49},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_bg_titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,1},{243,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_curitem_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1},{225,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,78}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_bg_item_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,244},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_btn_orange_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,49},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_btn_orange_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,177},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_btn_grey_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,183},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_btn_red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,76},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_btn_red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,76},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_btn_blue_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,228},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_btn_blue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,160},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_btn_green_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,209},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_btn_green_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,337},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_word_cs.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,416},{87,41}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_word_fj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,244},{101,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_word_gm.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,325},{85,41}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_word_qrcs.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,183},{148,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_word_ty.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,369},{89,43}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,48}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_word_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,325},{89,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_word_dhjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,177},{146,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_zd.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,49},{59,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,30}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_words_bb.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,333},{97,45}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,46}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,320},{73,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,53}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_minus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,1},{29,11}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,30}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/bag_pic_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,110},{29,29}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,30}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_pic_box_light_.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,1},{383,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{386,46}</string>
			</dict>
			<key>games/fish/assets/hall/images/packback/com_bg_pic_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{290,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>packback.png</string>
			<key>realTextureFileName</key>
			<string>packback.png</string>
			<key>size</key>
			<string>{1015,504}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1015</integer>
			<key>height</key>
			<integer>504</integer>
		</dict>
	</dict>
</plist>