<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/ui/images/emoji/emoji_bg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,1},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji_popup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{147,131}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,138}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji01_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,148},{82,74}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,71},{82,75}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji02_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,86},{69,75}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1},{68,91}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji03_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1},{73,86}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji03_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,80},{70,83}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji04_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,76},{71,86}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji04_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,79},{71,86}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji05_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,152},{70,83}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji05_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,156},{70,86}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji06_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,85},{68,82}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji06_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1},{70,89}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji07_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,1},{85,76}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji07_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,1},{86,77}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji08_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,228},{73,82}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji08_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,71},{74,83}}</string>
				<key>offset</key>
				<string>{3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji09_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,167},{74,77}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji09_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,224},{76,79}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji10_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,1},{83,82}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji10_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1},{83,82}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji11_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,85},{72,77}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji11_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,224},{73,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji12_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,1},{98,83}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji12_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,1},{87,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji13_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,228},{72,78}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji13_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,158},{72,77}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji14_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,149},{77,77}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji14_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,80},{77,76}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji15_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,73},{84,73}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji15_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,227},{81,73}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji16_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,148},{79,77}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/ui/images/emoji/emoji16_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,243},{75,70}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>emoji.png</string>
			<key>realTextureFileName</key>
			<string>emoji.png</string>
			<key>size</key>
			<string>{1024,314}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>314</integer>
		</dict>
	</dict>
</plist>